%h1 Список юнитов

%table
  %tr
    -if admin?
      %th ID
    %th= Prototype.human_attribute_name(:name)
    %th
    %th= Prototype.human_attribute_name(:race)
    %th= Prototype.human_attribute_name(:initiative)
    %th= Prototype.human_attribute_name(:enroll_cost)
    -if admin?
      %th
      -#%th LVLP
      -#%th

  - @prototypes.each do |prototype|
    %tr
      -if admin?
        %td= prototype.id
      %td= link_to prototype.name, prototype, :title => "Подробнее"
      %td= "(лидер)" if prototype.leader
      %td= Prototype::RACES[prototype.race]
      %td= prototype.initiative
      %td= prototype.enroll_cost
      -if admin?
        %td= link_to 'Edit', edit_prototype_path(prototype)
        -#%td= prototype.level_up_id
        -#%td= link_to 'Destroy', prototype, :confirm => 'Are you sure?', :method => :delete

%br
-if admin?
  = link_to 'New Prototype', new_prototype_path
=paginate @prototypes