%h1 Сменить пароль
=form_for @user, :url => update_password_path(@user) do |f|

  =error_messages_for @user

  -unless admin? && @user.id != current_user.id
    .field
      = f.label          :old_password
      = f.password_field :old_password#, :placeholder => 'Текущий пароль'
  .field
    = f.label          :new_password
    = f.password_field :password#,     :placeholder => 'Новый пароль'
  .field
    = f.label          :password_confirmation
    = f.password_field :password_confirmation#, :placeholder => 'Повторите новый пароль'
  .actions
    = f.submit
= link_to 'Назад', @user